<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd"
    >
    <context:property-placeholder location="classpath:datosEmpresa.properties" />
    <!--  Creacion de la dependencia -->
    <bean id="miInforme" class="InversionOfControl.Objects.Informe"></bean>
    <!--  Inyección de dependencias con constructor -->
	<bean id="miEmpleado" class="InversionOfControl.Objects.JefeEmpleado">
		<constructor-arg ref="miInforme"></constructor-arg>
	</bean>
	<!-- Inyección de dependencias con setters  -->
	<bean id="miSecretarioEmpleado" class="InversionOfControl.Objects.SecretarioEmpleado">
		<property name="informeNuevo" ref="miInforme"></property>
		<property name="email" value="${email}"></property>
		<property name="nombreEmpresa" value="${nombreEmpresa}"></property>
	</bean>
</beans>